body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: white;
}

#container {
	width: 100%;
}

#header {
	background-color: #398ed4;
	font-size: 30px;
	text-align: center;
	padding: 10px 0px;
}

#content {
	float: left;
	width: 100%;
	padding: 5px;
}

#footer {
	clear: both;
	background-color: #398ed4;
	text-align: center;
	font-weight: bold;
	color: white;
	padding: 10px 0px;
}

.errorMessage{
	color: #ff0000;
}
